/* .logoutcover-page{
    background-image: url('images/bg.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .containerlogout {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 200px;
      width: 400px;
      border-style: groove;
      margin-left: 600px;
      margin-top: 100px;
      border-radius: 5px;
      transition: transform 0.3s ease;
      background-color: rgb(237, 226, 242);
      opacity: 90%;
    }
    
    .containerlogout:hover {
      transform: scale(1.05);
    }
    .buttoncon {
      display: flex;
      justify-content: center;
    }
    
    .buttonlogout {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #b687f4;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
      margin-right: 10px;
    }
    
    .buttonlogout:hover {
      background-color: #421358;
      transform: translateY(-2px);
    }
  
    .buttonlogout:last-child {
      margin-right: 0;
    }
    