/* ForgotPassword.css */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-password-content {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .forgot-password-title {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
  }
  
  .forgot-password-description {
    font-size: 16px;
    margin: 20px 0;
    color: #666;
  }
  
  .forgot-password-label {
    display: block;
    font-weight: bold;
  }
  
  .forgot-password-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-button {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .forgot-password-button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password-message {
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
  }
  