.card{
    margin: auto;
    margin-top: 50px;
    width:1100px;
    height:250px;
}

.card-body{
   
   
    background-color: rgb(206, 204, 234);
    width: 1100px;
    height:200px;
}

.doctor{
position: relative;
margin-top:10px ;
width: 300px;
height: 250px;
width: 200px;
height: 200px;
justify-items: center;
margin-left: 40px;
}

.right_side{
    margin-top: -170px;
    width: 800px;

}
.card-title{
    margin-left: 400px;
    margin-top: -200px;
}

.card-text{
    margin-left: 400px;

}

.card-contact{
    margin-left: 400px;   
} 


/* .dropdown{
    margin-top: 20px;
    margin-left: 30px;
   
} */

