.weight{
    margin-top: 20px;
    margin-left: 250px;
    background-color:rgba(255, 99, 132, 0.5);
    color: rgb(26, 13, 13);
    font-weight: bold;
    border-radius: 10px;
    
    }
    
.height{
    margin-left: 250px;   
    background-color:rgba(75, 192, 192, 0.5);
    color:rgb(26, 13, 13);
    font-weight: bold;
    border-radius: 10px;
    }
    
.head{
    margin-left: 250px;
    background-color:rgba(255, 206, 86, 0.5);
    color:rgb(26, 13, 13);
    font-weight: bold;
    border-radius: 10px;
    
}


.chart {
    width: 50% !important;
    height: 50% !important;

    margin-left:25%;
    margin-top:2.5%;
}

