.baby-form {
    width: 900px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 350px;
    margin-top: 0px;
  }

  .form{ 
   margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-top: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .parent_detail{
    justify-content: center;
    align-items: center;
    width: 400px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: 60%;
    padding: 8px;
    background-color: rgb(208, 0, 255);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
    margin-bottom: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(191, 95, 232);
  }